* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.col {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}

.col-40 {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.col-33 {
  width: calc(100% / 3 - 20px);
  background-color: red;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

p {
  margin-bottom: 40px;
  line-height: 25px;
}

.padding-top-bottom {
  padding: 0 10px 0 10px;
}
